<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Resources</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <style>
         /* Sidebar Navbar */
         .sidenav {
            height: 100%;
            min-height: 97vh;
            /* width: 100%; */
            /* position: fixed; */
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .nav-hr-heading{
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #ffffff;
            display: block;
            height:100px;
        }

        .hr-header{
            height:150px;
            text-align:center;
        }
        .hr-header h1{
            padding-top:30px;
        }
        #hr-health-employee-details{
            margin-top:30px;
        }
        #hr-monthreport-employee-details{
            margin-top:30px;
        }
        #btn-logout{
            padding:10px;
            width: 55%;
            height:6vh;
            border-radius:50%;
            background: #ab2724;
            color:white;
            cursor: pointer;
            margin-top: 5px;
            text-align:center;
            border: 1px solid #000000;
            line-height:2vh;
            opacity: 0.4;
        }
        #btn-logout:hover{
            background: #ff2724;
            width:55%;
            opacity: 1;
        }
        .sick-days{
            background: rgba(255,0,0,0.4) !important;
        }
        .healthy-days{
            background: rgba(255,255,0,0.4) !important;
        }
        input,select,textarea{
            background: #eeeeee !important;
            border-radius: 1rem;
            border: 1.5px solid black;
        }
        select{
            width:70%;
            padding:5px;
        }
        input[type=number]{
            text-align: center;
        }
        .active{
            color: #f1f1f1 !important;
        }
        textarea{
            padding: 10px;
        }
        label{
            font-size:larger;
        }
        li{
            background: #eeeeee !important;
            color:#000000;
            box-shadow: 10px 10px 50px #888888;
            border: 2px solid white !important;
        }
        
    </style>
</head>
<body>
    
    <div class="px-0 mx-0 row">
        <div class="px-0 mx-0 col-md-3">
            <div class="sidenav">
                <div class="nav-hr-heading">
                    Welcome, <%=email%>
                </div>
                <hr style="background:white;">

                <a class="anchor hr-health active" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
                      </svg>
                    Health Report
                </a>


                <a class="anchor hr-message" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
                      </svg>
                    Message
                </a>

                <a class="anchor hr-course" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
                      </svg>
                    Courses
                </a>

                
                <a class="" href="/employee/report">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
                      </svg>
                      Employee Report
                </a>
            </div>
        </div>
        <div style="background: #304352;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        " class="px-0 mx-0 col-md-9">

            <!-- Logout Button -->
            <div class="px-0 mx-0 row">
                <div class="col-8 col-md-10"></div>
                <div class="col-4 col-md-2">
                    <div id ="btn-logout">
                        Logout
                    </div>
                </div>
            </div>

            <!-- Employee Health Report -->
            <div style="display:block;" class="hr-health">
                <div class="container">
                    <div class="hr-header">
                        <h1><strong>Health Report</strong></h1>
                    </div>
                    <div class="form-group">
                        <label for="hr-health-employee">Select Employee</label>
                        <select name="id" class="custom-select" id="hr-health-employee">
                            <option>Select...</option>
                            <% employee.forEach((emp)=>{ %>
                                <option id=<%=emp.email%>><%=emp.name%></option>
                            <%})%>
                        </select>
                    </div>
                    <div style="display:none;" id="hr-health-employee-details">
                        <div>
                            Past Health Reports
                        </div>
                        <ul class="list-group" id='ul-hr-health'>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- Employee Courses -->
            <div style="display:none;" class="hr-course">
                <div class="container">
                    <div class="hr-header">
                        <h1><strong>Approve Courses</strong></h1>
                    </div>
                    <div>
                        <ul class = "list-group">
                            <% courses.forEach((course,i)=>{ %>
                                <li class = "list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <%= course.courseName %>
                                        </div>
                                        <div class="col-md-8"></div>
                                        <div class="col-md-2">
                                            <button onclick="coursesShow(event)" id="<%=i%>" style="float:right;" class="btn btn-primary">Select</button>
                                        </div>
                                    </div>
                                    <div style="display:none;" id = "<%=i%>-course-details">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Employee: <%=course.employee%>
                                            </div>
                                            <div class="col-md-6">
                                                Course Name: <%=course.courseName%>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                Course Link: <%=course.courseLink%>
                                            </div>
                                            <div class="col-md-6">
                                                Certificate Link: <%=course.certificateLink %>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="border-style: inset;" class="my-3 col-md-10">
                                                Comment from <%=course.employee%><hr class="my-1"> <p><%=course.employeeComment%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div >Add Comments</div>
                                                <textarea id="<%=i%>-course-approve-comment" style="width:95%;"></textarea>
                                            </div>
                                            <div class="col-md-1 mt-5">
                                                <button id="<%=i%>" onclick="courseApprove(event)" style="float:right;" class="btn btn-info">Approve</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Emplyee Message -->
            <div style="display:none;" class = "hr-message">
                <div class="container">
                    <div class="hr-header">
                        <h1><strong>Message Corner</strong></h1>
                    </div>
                    <div class="form-group">
                        <label for="hr-message-employee">Select Employee</label>
                        <select name="hr-message-employee" class="custom-select" id="hr-message-employee">
                           <option>Select...</option>
                            <% employee.forEach((emp)=>{ %>
                                <option><%=emp.name%></option>
                            <%})%>
                        </select>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            Employee Email: <span id="hr-message-email"></span>
                        </div>
                        <div class="col-md-6">
                            Department: <span id="hr-message-department"></span>
                        </div>
                    </div>
                    <input style="display:none;" type="text" name="email" id="email">
                    <div class="form-group">
                        <label for="hr-message">Add Your Message</label>
                        <textarea id="hr-message" name="hr-message" class="form-control" rows="7"></textarea>
                    </div>
                    <div class="pb-5">
                        <button id="btn-message-submit" style="float:right;" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        // Show courses for approval
        function coursesShow(event){
            let id = event.target.id;
            let element = document.getElementById(`${id}-course-details`);
            if(element.style.display == 'none')
                element.style.display ='block';
            else
                element.style.display='none';
        }

        // Approve Courses after checking
        function courseApprove(event){
            let id = event.target.id;
            let comment = document.getElementById(`${id}-course-approve-comment`).value;
            id = <%- JSON.stringify(courses)%>[id].id;
            console.log(id);
            fetch('/courses/approve',{
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json'
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({id:id,comment:comment})
            }).then(response => response.json()).then((data)=>{
                if(data.message=='success'){
                    alert(data.message);
                    location.reload();
                }else{
                    alert(data.message);
                }
            })
        }

        // Select which tasks to do for the manager
        Array.from(document.querySelectorAll('.anchor')).forEach((item)=> {
            item.addEventListener('click', ()=>{
                displayOff();
                document.querySelector(`div.${item.className.split(' ')[1]}`).style.display="block";
                item.classList.add('active')
            })
        })
        let displayOff = () =>{
            Array.from(document.querySelectorAll('.anchor')).forEach((item)=>{
                document.querySelector(`div.${item.className.split(' ')[1]}`).style.display="none";
                item.classList.remove('active');
            })
        }

        // Show Health Details of Selected Employee
        document.querySelector('#hr-health-employee').addEventListener('change',()=>{
            let id = document.querySelector('option:checked').id;
            fetch(`/health/${id}`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json'
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({'empty':'data'})
            }).then(data => data.json()).then((info)=>{
                document.querySelector('#hr-health-employee-details').style.display='block';
                let ul = document.querySelector('#ul-hr-health')
                ul.innerHTML='';
                ul.style.cursor='pointer';
                // Generate each health report of employee
                info.forEach((entry,i)=>{
                    let {date,status,illness} = entry;
                    let listItem = document.createElement("li");
                    listItem.id = i;
                    listItem.classList.add('list-group-item')
                    let div = document.createElement('div');
                    div.classList.add('row');
                    let div1 = document.createElement('div');
                    div1.classList.add('col-md-4');
                    let div2 = document.createElement('div');
                    div2.classList.add('col-md-4');
                    let divnew  = document.createElement('div');
                    divnew.classList.add('col-md-4');
                    div1.innerText='Date: ';
                    div2.innerText='Status: ';
                    divnew.innerText='Illness: ';
                    let span1 = document.createElement('span');
                    span1.innerText=new Date(date).toDateString();
                    div1.appendChild(span1);
                    let span2 = document.createElement('span');
                    span2.innerText=status;
                    div2.appendChild(span2); 
                    let spannew = document.createElement('span');
                    spannew.innerText = illness;
                    divnew.appendChild(spannew);
                    div.appendChild(div1);
                    div.appendChild(div2);
                    div.appendChild(divnew);
                    listItem.appendChild(div);
                    
                    // Check for sick or healthy for 3 days
                    if(i==0){
                        let healthdate = new Date(date);
                        console.log(healthdate);
                        let currentdate = new Date();
                        let timediff = currentdate - healthdate;
                        let days =(timediff / (1000 * 3600 * 24));
                        if(days>2){
                            if(status == 'sick'){
                                listItem.classList.add('sick-days');
                            }else{
                                listItem.classList.add('healthy-days') ;
                            }
                        }
                    }

                    // Generate extra message to show on hover
                    let div3 = document.createElement('div');
                    div3.style.display='none';
                    div3.id = `div-${i}`;
                    div3.innerText = "Description: ";
                    let p1 = document.createElement('p');
                    let text='';
                    let name = document.querySelector('select').value;
                    if(entry.travelling==true){
                        text=`${name} has travelled internationally in the past two weeks. Their message is "${entry.description}"`
                    }else{
                        text=`${name} has not travelled internationally in the past two weeks. Their message is "${entry.description}"`
                    }
                    p1.innerText=text;
                    div3.appendChild(p1);
                    listItem.appendChild(div3);

                    listItem.addEventListener('mouseenter',(e)=>{
                        document.querySelector(`#div-${e.target.id}`).style.display='block';
                    })
                    listItem.addEventListener('mouseleave',(e)=>{
                        document.querySelector(`#div-${e.target.id}`).style.display='none';
                    })
                    ul.appendChild(listItem);
                })
            }) 
        })

        document.querySelector('#hr-message-employee').addEventListener('change',(e)=>{
            let index = e.target.selectedIndex;
            index--;
            let email = <%-JSON.stringify(employee)%>[index].email;
            let department = <%- JSON.stringify(employee)%>[index].department;
            document.querySelector('#hr-message-email').innerText=email;
            document.querySelector('#hr-message-department').innerText=department;
            console.log(email,department);
        })

        document.querySelector('#btn-message-submit').addEventListener('click',()=>{
            
            let email = document.querySelector('#hr-message-email').innerText;
            let message = document.querySelector('#hr-message').value;
            let obj = {
                email: email,
                message: message
            }
            // console.log(obj);
            fetch(`/message`, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json'
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(obj)
            }).then(response => response.json()).then((data)=>{
                if(data.message=='success'){
                    alert('message sent successfully');
                    location.reload();
                }else{
                    alert(data.message);
                }
            })
        })        

       // Logout button
       document.querySelector('#btn-logout').addEventListener('click',()=>{
            window.location = '/logout';
        })
            
    </script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>