<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        /* Sidebar Navbar */
        .sidenav {
            height: 100%;
            min-height: 97vh;
            /* width: 100%; */
            /* position: fixed; */
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .nav-manager-heading {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #ffffff;
            display: block;
            height: 100px;
        }


        div.task-create {
            width: 80%;
            margin: 10px auto;
            border-top: 5px solid green;
            padding: 20px;
            box-shadow: 10px 10px 50px;
        }

        .task-header {
            text-align: center;
            margin: 10px;
        }

        #task-employee,
        #task-deadline,
        #task-point {
            display: block;
            width: 50%;
        }

        .review-task-header {
            height: 150px;
            text-align: center;
        }

        .review-task-header h1 {
            padding-top: 50px;
        }

        .reassign-task-header {
            height: 150px;
            text-align: center;
        }

        .reassign-task-header h1 {
            padding-top: 50px;
        }
        .employee-header{
            height:150px;
            text-align:center;
        }
        .employee-header h1{
            padding-top:30px;
        }
        #btn-logout{
            padding:10px;
            width: 55%;
            height:6vh;
            border-radius:50%;
            background: #ab2724;
            color:white;
            cursor: pointer;
            margin-top: 5px;
            text-align:center;
            border: 1px solid #000000;
            line-height:2vh;
            opacity: 0.4;
        }
        #btn-logout:hover{
            background: #ff2724;
            width:55%;
            opacity: 1;
        }
        input,select,textarea{
            background: #ccccdd !important;
            border-radius: 1rem;
            border: 1.5px solid black;
        }
        select{
            width:70%;
            padding:5px;
        }
        .active{
            color: #f1f1f1 !important;
        }
        textarea{
            padding: 10px;
        }
        label{
            font-size:larger;
        }
        li{
            background: #eeeeee !important;
            color:#000000;
            box-shadow: 10px 10px 50px #888888;
            border: 2px solid white !important;
        }
    </style>
</head>

<body>
    <div class="px-0 mx-0 row">
        <div class="px-0 mx-0 col-md-3">
            <div class="sidenav">
                <div class="nav-manager-heading">
                    Welcome, <%=email%>
                </div>
                <hr style="background:white;">
                <a class="anchor hr-message active" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
                      </svg>
                    Messages
                </a>

                <a class="anchor task-view" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                    </svg>
                    View All Tasks
                </a>

                <a class="anchor task-update" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                    </svg>
                    Update Tasks Completed
                </a>

                <a class="anchor task-review" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                    </svg>
                    Review Tasks Completed
                </a>

                <a class="anchor task-courses" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                    </svg>
                    Courses
                </a>

                <a class="task-review" href="/employee/formWellBeing">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                    </svg>
                    Medical Form
                </a>
            </div>
        </div>
        <div style="background: #304352;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        "  class="px-0 mx-0 col-md-9">

            <!-- Logout button -->
            <div class="mx-0 px-0 row">
                <div class="col-8 col-md-10"></div>
                <div class="col-4 col-md-2">
                    <div id ="btn-logout">
                        Logout
                    </div>
                </div>
            </div>


            <!-- This is for adding tasks -->
            <div style="display:none;" class="task-view">
                <div class="container">
                    <form>
                        <h1 class="task-header"><strong>View Task</strong></h1>
                        <hr>
                        <div class="form-group">
                            <label for="task-name">Task Name</label>
                            <select class="custom-select" name="task-name" id="task-name">
                                <option>Select a task</option>
                                <% tasks.forEach((task,i)=>{ %>
                                <option><%=task.title%></option>
                                <%});%>
                            </select>
                        </div>
                        <div id="detailBlock" style="display:none;">
                            <div class="form-group">
                                <label for="task-employee">Employee Name</label>
                                <input type="text" class="form-control" name="task-employee" id="task-employee" disabled>
                            </div>
                            <div class="form-group">
                                <label for="task-point">Task Points</label>
                                <input type="number" class="form-control" name="task-point" id="task-point" disabled>
                            </div>
                            <div class="form-group">
                                <label for="task-deadline">Task Deadline</label>
                                <!-- <input type="date" class="form-control" name="task-deadline" id="task-deadline" disabled> -->
                                <input type="text" class="form-control" name="task-deadline" id="task-deadline" disabled>
                            </div>
                            <div class="form-group">
                                <label for="task-link">Task Link</label>
                                <input type="text" class="form-control" name="task-link" id="task-link" disabled>
                            </div>
                            <div class="form-group">
                                <label for="task-desc">Task Description</label>
                                <textarea class="form-control" name="task-desc" id="task-desc" rows="10"
                                    disabled></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>


            <!-- This is for reviewing tasks -->
            <div style="display:none;" class="task-update">
                <div class="container">
                    <div class="review-task-header">
                        <h1><strong>Update Tasks Completed</strong></h1>
                    </div>
                    <div class="mb-5">
                        <ul class="list-group">
                            <% notCompleted.forEach((task,i)=>{ %>
                            <form method="post" action="/employee/complete">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <%= task.title %>
                                    </div>
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <button style="float:right;" onclick="taskReview(event)" id="<%=i%>"
                                            class="btn btn-primary">Select</button>
                                    </div>
                                </div>
                                <div class="mt-4" style="display:none;" id="task-<%=i%>">
                                    <h5 style="display:inline"> <%= task.employee %> </h1>
                                    <div style="float:right;" class="btn-group">    
                                        <button data-index="<%=i%>" id="addComment" class="btn btn-info submit">Add
                                            Comment</button>
                                        <button id="markComplete" class="btn btn-success" disabled>Mark as
                                            Complete</button>
                                    </div>
                                    <div style="display: none;">
                                        <input name="employeeID" type="text" value="<%= task.id %>">
                                    </div>
                                    <div id="<%=i%>-commentBlock" style="margin-top:2em; display:none;">
                                        <label for="commentBox">Add your Comment:</label>
                                        <textarea data-comp="<%=i%>" name="commentBox" id="commentBox" style="width:100%;"></textarea>
                                    </div>
                                </div>
                            </li>
            </form>

                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- This is for re-assigning tasks of sick employees -->
            <div style="display:none;" class="task-review">
                <div class="container">
                    <div class="reassign-task-header">
                        <h1><strong>Review Tasks Completed</strong></h1>
                    </div>
                    <div class="mb-5">
                        <ul class="list-group">
                            <% reviewed.forEach((task,i)=>{ %>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <%= task.title %>
                                    </div>
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <button style="float:right" onclick="taskAssign(event)" id="assign-<%=i%>"
                                            class="btn btn-primary">Select</button>
                                    </div>
                                </div>
                                <div class="mt-4" style="display:none;" id="task-assign-<%=i%>">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5> Employee Name: <%=task.employee%></h5>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div id="reAssign-points-<%=i%>" class="col-md-10">
                                                    <strong>Task Points: </strong><%=task.taskpoints%>/<%=task.totalpoints %>
                                                </div><br>
                                                <div id="manager-comment-<%=i%>" class="col-md-10">
                                                    <strong>Manager Comment: </strong><%=task.managerComment%>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="display:block;" class="task-courses">
                <div class="container">
                    <div class="reassign-task-header">
                        <h1><strong>Courses</strong></h1>
                    </div>

                    <!-- adding courses -->
                    <div>
                        <form method="post" action="/course/add">
                            <div class="form-group">
                                <label for="course-name">
                                    Course Name
                                </label>
                                <input name="course-name" id="course-name" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="course-link">Course Link</label>
                                <input name="course-link" id="course-name" type="text" class="form-control">
                            </div>
                            <button style="float:right;" class="btn btn-info">Submit</button>
                        </form>
                    </div>

                    <!-- Displaying ongoing courses -->
                    <div>
                        <h4>Ongoing Courses</h4><hr>
                        <ul class = "list-group">
                            <% courses.forEach((course,i)=>{ %>
                                <% if(course.completed == false) { %>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-8">
                                                Course Title: <%= course.courseName %>
                                            </div>
                                            <div class="col-md-4">
                                                <button style="float:right;" id="<%=i%>" onclick="coursesShow(event)" class="btn btn-primary">Select</button>
                                            </div>
                                        </div>
                                        <div style="display:none;" id="<%=i%>-courses-display">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>Add Comment</div>
                                                    <textarea style="width:100%;" id="<%=i%>-courses-comment"></textarea>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="<%=i%>-courses-link">Certification Link: </label>
                                                    <input type="text" class="form-control" id="<%=i%>-courses-link" >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mt-4">
                                                    <button id="<%=i%>" onclick = "coursesComplete(event)" style="width:100%;" class="btn btn-danger">Mark as Complete</button>
                                                </div>
                                            </div>
                                                
                                        </div>
                                       
                                    </li>
                                <% } %>
                            <% }) %>
                        </ul>
                        <h4>Completed Courses</h4><hr>
                        <ul class = "list-group">
                            <% courses.forEach((course,i)=>{ %>
                                <% if(course.approved == true) { %>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-8">
                                                Course Title: <%= course.courseName %>
                                            </div>
                                            <div class="col-md-4">
                                                <button style="float:right;" id="<%=i%>" class="btn btn-danger">select</button>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Message -->
            <div style="display:none;" class="hr-message">
                <div class="container">
                    <div class="employee-header">
                        <h1><strong>Message Corner</strong></h1>
                    </div>
                    <div id="employee-message">
                            <ul class="list-group">
                                <% messages.forEach((message,i)=>{ %>
                                    <li style="cursor:pointer;" class="list-group-item li-message">
                                        <div class="row my-2">
                                            <div class="col-md-6">Sender: <span><%=message.sender%></span></div>
                                            <div class="col-md-6">Date: <span><%=message.date%></span></div>
                                        </div>
                                        <div style="display:none;" id="<%=i%>-li-message" class="row">
                                            <div class="col-md-10"><%=message.message%></div>
                                            <div class="col-md-2"><button id="<%=i%>" class="btn btn-danger btn-mark-as-read">Mark as Read</button></div>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                    </div>
                </div>   
            </div>
        </div>
    </div>




    <script>

        function coursesShow(event){
            let id = event.target.id;
            let element = document.getElementById(`${id}-courses-display`);
            element.style.display =  element.style.display == 'none'? "block" : "none";
        }

        function coursesComplete(event){
            let id = event.target.id;
            let comment = document.getElementById(`${id}-courses-comment`).value;
            let certificateLink = document.getElementById(`${id}-courses-link`).value;
            id = <%- JSON.stringify(courses)%>[id].id;

            fetch('/courses/complete', {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json'
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({id:id, comment: comment, certificateLink:certificateLink})
            }).then(response => response.json()).then((data)=>{
                if(data.message=='success'){
                    location.reload();
                }else{
                    alert(data.message);
                }
            })

        }

        document.querySelector('#task-name').addEventListener('change', () => {
            let id = document.querySelector('#task-name').selectedIndex;
            let x=<%-JSON.stringify(tasks)%>;
            detailBlock.style.display = 'block';
            document.querySelector('#task-employee').value = x[id-1].employee;
            document.querySelector('#task-point').value = x[id-1].totalpoints;
            document.querySelector('#task-deadline').value = new Date(x[id-1].deadline._seconds*1000).toDateString();
            document.querySelector('#task-link').value = x[id-1].link;
            document.querySelector('#task-desc').value = x[id-1].description;
        });
        
        // Select which tasks to do for the manager
        Array.from(document.querySelectorAll('.anchor')).forEach((item) => {
            item.addEventListener('click', () => {
                let a = item.className.split(' ')[1];
                displayOff();
                document.querySelector(`div.${a}`).style.display = "block";
                item.classList.add('active')
            })
        })
        let displayOff = () => {
            Array.from(document.querySelectorAll('.anchor')).forEach((item) => {
                document.querySelector(`div.${item.className.split(' ')[1]}`).style.display = "none";
                item.classList.remove('active');
            })
        }

        // Toggle Select Button for Review task
        function taskReview(event) {
            event.preventDefault();
            let element = document.querySelector(`div#task-${event.target.id}`);
            if (element.style.display == 'none')
                element.style.display = 'block';
            else
                element.style.display = 'none';
            // document.querySelector(`div#task-${event.target.id}`).style.display="block";
        }
        // Toggle Select Button for ReAssign task
        function taskAssign(event) {
            let element = document.querySelector(`div#task-${event.target.id}`);
            if (element.style.display == 'none')
                element.style.display = 'block';
            else
                element.style.display = 'none';
            // document.querySelector(`div#task-${event.target.id}`).style.display="block";
        }

        // Set input form to maximum of totalPoints if exceeds for Review Task
        Array.from(document.querySelectorAll('.points')).forEach((item) => {
            item.addEventListener('input', (e) => {
                if (e.target.value > Number(e.target.dataset.task)) {
                    e.target.value = Number(e.target.dataset.task);
                }
            })
        });

        // Set total points for new employee to the difference of previous total points and assigned points
        Array.from(document.querySelectorAll('.reAssign-points')).forEach((item) => {
            item.addEventListener('input', (e) => {
                if (e.target.value > Number(e.target.dataset.task)) {
                    e.target.value = Number(e.target.dataset.task);
                }
                document.querySelector(`#reAssign-points-${e.target.dataset.id}`).innerText = `Task Points: ${e.target.dataset.task - e.target.value}`;
            })
        });
        Array.from(document.querySelectorAll('#addComment')).forEach((item)=>{
            item.addEventListener('click',(e)=>{
                let index = e.target.dataset.index;
                e.preventDefault();
                document.getElementById(`${index}-commentBlock`).style.display = 'block';
                console.log('comment')
            })
        })

        Array.from(document.querySelectorAll('#commentBox')).forEach((e)=>{
            e.addEventListener('change',()=>{
                if(e.value != ''){
                Array.from(document.querySelectorAll('#markComplete')).forEach((item,i)=>{
                    if(i==e.dataset.comp){
                        item.disabled=false;
                    }else{
                        item.disabled=true;
                    }
                })
            }
            })
            
        }) 


        // Mark message as read
        Array.from(document.querySelectorAll('.btn-mark-as-read')).forEach((item)=>{
            item.addEventListener('click',(e)=>{
                let index = e.target.id;
                let id = <%-JSON.stringify(messages)%>[index].id;
                
                fetch('/employee/message',{
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    redirect: 'follow', 
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify({id:id})
                }).then(response => response.json()).then((data)=>{
                    if(data.message=='success'){
                        alert('Successful');
                        location.reload();
                    }else{
                        alert(data.message);
                    }
                })
            })
        })

        Array.from(document.querySelectorAll('.li-message')).forEach((item,i)=>{
            item.addEventListener('click',()=>{
                let ele = document.getElementById(`${i}-li-message`);
                if(ele.style.display=='none')
                    ele.style.display='flex';
                else
                    ele.style.display='none';
            })
        })

        // Logout button
        document.querySelector('#btn-logout').addEventListener('click',()=>{
            window.location = '/logout';
        })
        
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>